/* http://css-tricks.com/perfect-full-page-background-image/ */

html { 
	background: url(../images/palms.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	} 

/* http://blog.softlayer.com/2012/tips-and-tricks-pure-css-sticky-footers */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	}

body {
	color: #1D0C00;
	font-family: 'Cardo', serif;
	font-size: 16px;
	}


h1 {
	/* border: solid 1px blue; */
	color: #1D0C00;
	font-size: 50px;
	margin: 0 0 30px 0;
	text-align: center;
	}

p {
	padding: 0 20px;
}

/* see "fluid images" by Ethan Marcotte for IE 7 and older support */
img {
	max-width: 100%;
	}

article {
	font-size: 21px;
	margin-top: 30px;
	}

a:link {
	color:#007ba4;
	text-decoration: none;
	}      

a:visited {
	color:#007ba4;
	text-decoration: none;
	} 

a:hover {
	color:#32aed7;
	text-decoration: underline;
	}  

a:active {
	color:#007ba4;
	text-decoration: none;
	}  

/* Main Content -------------------------------- */


#page {
	/* border: solid 1px red; */
	height: 100%; /* for sticky footer in IE only */
	margin: auto;
	min-height: 100%; /* for sticky footer */
	position: relative; /* for sticky footer */
	}

#main {
	/* border: solid 1px blue; */
	bottom: 100px; /* height of sticky footer */
	margin: auto;
	}

#container {
	padding-top: 1px; /* forcing 1px for sticky footer */
	margin: auto;
	width: 75%;
	}

.img-box {
	/* border: solid 10px #fffff0; */
	margin: 20px;
	}

/* http://css-tricks.com/snippets/css/css-box-shadow/ */

.one-edge-shadow {
	-webkit-box-shadow: 0 12px 20px -12px #000;
	-moz-box-shadow: 0 12px 20px -12px #000;
	box-shadow: 0 12px 20px -12px #000;
	}

/* Header -------------------------------------- */

header {
	margin-top: 150px;
	}


/* Footer -------------------------------------- */

footer {
	background-color: #000;
	bottom: 0; /* for sticky footer */
	height: 100px; /* height of sticky footer */
	position: absolute; /* for sticky footer */
	width: 100%; /* for sticky footer */
	}

footer p {
	color: #fffff0;
	font-size: 12px;
	padding-left: 20px;
	text-align: center;
	}

/* reference: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* Smartphones (portrait) 320x480 ----------- */
	@media only screen and (max-width : 320px){
		header {
			margin-top: 10px;
			padding: 0;
		}
		h1 {
			font-size: 37px;
		}
		#page {
			min-width: 320px;
		}
		#container {
			margin: 0px auto;
		}
		#main {
			background-color: pink;
		}
		img {
			width: 40%;
			height: 40%;
		}
		.img-box {
			border: solid 5px #fdfdfd;
			margin: 5px 60px;
		}	
	}

	/* Transitional size (portrait) ----------- */
	@media only screen and (max-width : 892px) and (min-width : 321px) {
		header {
			margin-top: 10px;
			padding: 0;
		}
		h1 {
			font-size: 37px;
		}
		#container {
			border: 1px solid yellow;
			min-width: 240px;
			max-width: 240px;
			} 
		#main {
			background-color: white;
			}
		}

	/* Transitional size (landscape)  ----------- */
	@media only screen and (max-width : 1223px) and (min-width : 891px) {
		h1 {
			border: 1px solid blue;
		}
		#page {
			min-width: 320px;
		}
		#container {
			border: 1px solid yellow;
		}
		#main {
			background-color: yellow;
			min-width: 729px;
			max-width: 729px;
		}
	}
	/* Desktops and laptops ----------- */
	@media only screen and (min-width : 1224px) {
			h1 {
			border: 1px solid red;
			}
			#container {
				border: 1px solid yellow;
			}
			#main {
			background-color: white;
			max-width: 729px;
		}
	}
